@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
}
li,
a,
button,
footer,
input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: black;
  text-decoration: none;
  border: 0px;
}
.nav_,
.foot_right,
.foot_left {
  list-style: none;
}
.nav_ li,
.foot_left li,
.foot_right li {
  display: inline-block;
  padding: 0px 20px;
  margin: 0px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  color: #4e4e4e;
  text-align: center;
  padding: 14px 16px;
}
#icon {
  font-size: 29px;
}
.signin {
  padding: 9px 25px;
  background-color: #4583ec;
  border: none;
  color: #ffffff;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  margin: 0 33px;
}
.headr {
  display: flex;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: 7d7d7d;
}
.foot_right {
  float: right;
}
.foot_left {
  float: left;
}
.Under {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.Unde {
  background-color: #f3f3f3;
  color: #5f6368;
  padding: 9px 25px;
  border: none;
  border-radius: none;
  margin: 12px;
}
.Middlep {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 109px;
}
.search {
  display: flex;
  align-items: center;
  margin: 18px auto;
  border-radius: 55px;
}
#searchicon {
  width: 50px;
  cursor: pointer;
}
#srchbox {
  border: #5f6368;
  font-size: 20px;
  width: 550px;
  border-style: solid;
  border-width: 1px;
}
